/* 
    General Styles
*/

.center {
  line-height: 300px;
 
  border: 1px solid #fff;
  text-align: center;
  width: 500px;
  height: 300px;
  background: grey;
}

.center2 {

 
  border: 1px solid #fff;
  text-align: center;
  width: 80%;
  height: 100px;
  background: grey;
}

.center3 {
  border: 1px solid #fff;
  text-align: center;
  width: 100%;

  background: lightgray;
}
.centerdiv {
  border: 1px solid #fff;
  background: lightgray;
  width: 80%;
   text-align: center;
}
.centerevents {
  line-height: 300px;
 
  border: 1px solid #fff;
  text-align: center;
  width: 100%;
  height: 300px;
  background: grey;
}